openapi: 3.0.3
info:
  title: Almacen Principal
  description: |
    API para gestión de usuarios con autenticación por tokens (Laravel Sanctum).
    Respuestas JSON unificadas `{status, mensaje, data}`.
    Importante: todos los resultados (éxito y error) devuelven HTTP 200. Los errores se indican con `status=false` y un `mensaje` descriptivo.
    Nota: cuando un listado no tiene resultados o un recurso no existe, la API responde HTTP 200 con `status=true`, `data` vacío o `null` según aplique y `mensaje` "<modelo> no encontrado" (por ejemplo: "hospitales no encontrado").
  version: 1.0.0
servers:
  - url: https://almacen.alwaysdata.net
    description: Producción (AlwaysData)
  - url: http://localhost
    description: Desarrollo local
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    StandardResponse:
      type: object
      properties:
        status:
          type: boolean
          example: true
        mensaje:
          type: string
          example: Operación exitosa.
        autenticacion:
          type: integer
          description: 0=autenticado/válido, 1=token inválido/ausente, 2=token expirado
          enum: [0, 1, 2]
          example: 0
        data:
          nullable: true
    ErrorResponse:
      type: object
      properties:
        status:
          type: boolean
          example: false
        mensaje:
          type: string
          example: No autenticado. Token inválido o ausente.
        autenticacion:
          type: integer
          description: 0=autenticado/válido, 1=token inválido/ausente, 2=token expirado
          enum: [0, 1, 2]
          example: 1
        data:
          nullable: true
          example: null
    ValidationErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            data:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
              example:
                email: ["El campo email es obligatorio."]
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        tipo:
          type: string
          example: natural
        rol:
          type: string
          example: admin
        nombre:
          type: string
          example: Ana
        apellido:
          type: string
          example: García
        genero:
          type: string
          nullable: true
          example: femenino
        cedula:
          type: string
          example: V-12345678
        telefono:
          type: string
          nullable: true
          example: 04140000000
        direccion:
          type: string
          nullable: true
          example: Caracas
        hospital_id:
          type: integer
          nullable: true
          example: 2
        sede_id:
          type: integer
          nullable: true
          example: 5
        hospital:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Hospital'
        sede:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Sede'
        can_view:
          type: boolean
          example: true
        can_create:
          type: boolean
          example: true
        can_update:
          type: boolean
          example: true
        can_delete:
          type: boolean
          example: true
        can_crud_user:
          type: boolean
          description: Indica si el usuario tiene permisos para gestionar otros usuarios
          example: true
        is_root:
          type: boolean
          description: "Indica si el usuario es root del sistema (solo lectura)."
          example: false
        email:
          type: string
          format: email
          example: ana@example.com
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [activo, inactivo]
          example: activo
    Hospital:
      type: object
      properties:
        id:
          type: integer
          example: 1
        nombre:
          type: string
          example: Hospital Central
        rif:
          type: string
          example: J-12345678-9
        email:
          type: string
          format: email
          nullable: true
          example: contacto@hospital.test
        telefono:
          type: string
          nullable: true
          example: 04141234567
        cod_sicm:
          type: string
          nullable: true
          example: SICM-001
        nombre_contacto:
          type: string
          nullable: true
          example: Juan Pérez
        nombre_completo:
          type: string
          nullable: true
          example: Hospital Central de Caracas
        email_contacto:
          type: string
          format: email
          nullable: true
          example: juan.perez@hospital.test
        ubicacion:
          type: object
          nullable: true
          properties:
            lat:
              type: number
              format: double
              example: 10.4910000
            lng:
              type: number
              format: double
              example: -66.9030000
        direccion:
          type: string
          nullable: true
          example: Caracas
        dependencia:
          type: string
          nullable: true
          example: Ministerio de Salud
        estado:
          type: string
          nullable: true
          example: Distrito Capital
        municipio:
          type: string
          nullable: true
          example: Libertador
        parroquia:
          type: string
          nullable: true
          example: San José
        tipo:
          type: string
          example: publico
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [activo, inactivo]
          example: activo
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          example: ana@example.com
        password:
          type: string
          example: password
      example:
        email: doctor@example.com
        password: password
    LoginResponseData:
      type: object
      properties:
        token:
          type: string
          example: 1|aVeryLongTokenString
        user:
          $ref: '#/components/schemas/User'
    PaginatedUsers:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        current_page:
          type: integer
        last_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
    PaginatedHospitals:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Hospital'
        current_page:
          type: integer
        last_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
    Sede:
      type: object
      properties:
        id:
          type: integer
          example: 1
        nombre:
          type: string
          example: Almacén Principal
        tipo_almacen:
          type: string
          example: almacen_principal
        hospital_id:
          type: integer
          nullable: true
          example: 2
        hospital:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Hospital'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [activo, inactivo]
          example: activo
    PaginatedSedes:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Sede'
        current_page:
          type: integer
        last_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
    AlmacenPrincipalSchema:
      type: object
      properties:
        id:
          type: integer
          example: 1
        insumos:
          type: string
          example: Guantes Quirúrgicos Nitrilo
        codigo:
          type: string
          example: INS-001
        numero_lote:
          type: string
          example: LOTE-ABC-2025
        fecha_vencimiento:
          type: string
          format: date
          example: "2026-12-31"
        fecha_ingreso:
          type: string
          format: date
          example: "2025-09-12"
        cantidad:
          type: integer
          example: 100
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [activo, inactivo]
          example: activo
    PaginatedAlmacenesPrincipales:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AlmacenPrincipalSchema'
        current_page:
          type: integer
        last_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
    AlmacenCentralSchema:
      type: object
      properties:
        id:
          type: integer
          example: 1
        insumos:
          type: string
          example: Tapabocas 3 capas
        codigo:
          type: string
          example: INS-050
        numero_lote:
          type: string
          example: LOTE-XYZ-2025
        fecha_vencimiento:
          type: string
          format: date
          example: "2027-03-15"
        fecha_ingreso:
          type: string
          format: date
          example: "2025-09-12"
        cantidad:
          type: integer
          example: 250
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [activo, inactivo]
          example: activo
    PaginatedAlmacenesCentrales:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AlmacenCentralSchema'
        current_page:
          type: integer
        last_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
    AlmacenFarmaciaSchema:
      type: object
      properties:
        id:
          type: integer
          example: 1
        insumos:
          type: string
          example: Guantes Quirúrgicos Nitrilo
        codigo:
          type: string
          example: INS-001
        numero_lote:
          type: string
          example: LOTE-FARM-2025
        fecha_vencimiento:
          type: string
          format: date
          example: "2026-12-31"
        fecha_ingreso:
          type: string
          format: date
          example: "2025-09-12"
        cantidad:
          type: integer
          example: 50
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [activo, inactivo]
          example: activo
    PaginatedAlmacenesFarmacia:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AlmacenFarmaciaSchema'
        current_page:
          type: integer
        last_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
    AlmacenParaleloSchema:
      type: object
      properties:
        id: { type: integer, example: 1 }
        insumos: { type: string, example: "Guantes Nitrilo" }
        codigo: { type: string, example: "INS-010" }
        numero_lote: { type: string, example: "PAR-2025-01" }
        fecha_vencimiento: { type: string, format: date, example: "2027-01-31" }
        fecha_ingreso: { type: string, format: date, example: "2025-09-12" }
        cantidad: { type: integer, example: 75 }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        status: { type: string, enum: [activo, inactivo], example: activo }
    PaginatedAlmacenesParalelo:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AlmacenParaleloSchema'
        current_page: { type: integer }
        last_page: { type: integer }
        per_page: { type: integer }
        total: { type: integer }
    AlmacenServiciosAtencionesSchema:
      type: object
      properties:
        id: { type: integer, example: 1 }
        insumos: { type: string, example: "Tapabocas 3 capas" }
        codigo: { type: string, example: "INS-020" }
        numero_lote: { type: string, example: "ATN-2025-01" }
        fecha_vencimiento: { type: string, format: date, example: "2026-05-15" }
        fecha_ingreso: { type: string, format: date, example: "2025-09-12" }
        cantidad: { type: integer, example: 200 }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        status: { type: string, enum: [activo, inactivo], example: activo }
    PaginatedAlmacenesServiciosAtenciones:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AlmacenServiciosAtencionesSchema'
        current_page: { type: integer }
        last_page: { type: integer }
        per_page: { type: integer }
        total: { type: integer }
    AlmacenServiciosApoyoSchema:
      type: object
      properties:
        id: { type: integer, example: 1 }
        insumos: { type: string, example: "Batas desechables" }
        codigo: { type: string, example: "INS-030" }
        numero_lote: { type: string, example: "APO-2025-01" }
        fecha_vencimiento: { type: string, format: date, example: "2028-10-10" }
        fecha_ingreso: { type: string, format: date, example: "2025-09-12" }
        cantidad: { type: integer, example: 40 }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        status: { type: string, enum: [activo, inactivo], example: activo }
    PaginatedAlmacenesServiciosApoyo:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AlmacenServiciosApoyoSchema'
        current_page: { type: integer }
        last_page: { type: integer }
        per_page: { type: integer }
        total: { type: integer }
    Insumo:
      type: object
      required:
        - codigo
        - nombre
        - tipo
        - unidad_medida
        - cantidad_por_paquete
        - status
      properties:
        sede_id:
          type: integer
          nullable: true
          example: 3
          description: Identificador de la sede a la que pertenece el insumo
        id:
          type: integer
          example: 1
          readOnly: true
        codigo:
          type: string
          maxLength: 100
          example: "INS-001"
          description: Código único del insumo (puede ser nulo, pero si se proporciona debe ser único)
          nullable: true
        codigo_alterno:
          type: string
          maxLength: 100
          example: "ALT-001"
          description: Código alternativo para el insumo
          nullable: true
        nombre:
          type: string
          maxLength: 255
          example: "Guantes Quirúrgicos de Nitrilo"
        tipo:
          type: string
          example: "descartable"
          description: Tipo de insumo (ej. descartable, permanente, medicamento, etc.)
        unidad_medida:
          type: string
          example: "unidad"
          description: Unidad de medida (ej. unidad, caja, paquete, etc.)
        cantidad_por_paquete:
          type: integer
          minimum: 0
          example: 100
          description: Cantidad de unidades por paquete
        descripcion:
          type: string
          nullable: true
          example: "Guantes de nitrilo talla M, estériles, sin polvo"
          description: Descripción detallada del insumo
        presentacion:
          type: string
          nullable: true
          example: "Caja x 100 unidades"
          description: Presentación comercial del insumo
        status:
          type: string
          enum: [activo, inactivo]
          default: activo
          example: activo
          description: Estado del insumo en el sistema
        created_at:
          type: string
          format: date-time
          readOnly: true
          example: "2025-09-13T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          readOnly: true
          example: "2025-09-13T10:00:00Z"
    PaginatedInsumos:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Insumo'
        current_page:
          type: integer
        last_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
    Lote:
      type: object
      description: Registro de lote por insumo y hospital. No contiene cantidades por almacén.
      properties:
        id: { type: integer, example: 1 }
        id_insumo: { type: integer, example: 10, description: ID del insumo }
        numero_lote: { type: string, example: "LOTE-ABC-2025" }
        fecha_vencimiento: { type: string, format: date, example: "2026-12-31" }
        fecha_ingreso: { type: string, format: date, example: "2025-09-19" }
        hospital_id: { type: integer, example: 1 }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    LoteAlmacen:
      type: object
      description: Cantidad por almacén para un lote específico.
      properties:
        id: { type: integer, example: 1 }
        lote_id: { type: integer, example: 5 }
        almacen_tipo: { type: string, example: "farmacia", description: "Tipo de almacén (principal, central, farmacia, paralelo, servicios_atenciones, servicios_apoyo, etc.)" }
        almacen_id: { type: integer, example: 3 }
        cantidad: { type: integer, example: 150 }
        ultima_actualizacion: { type: string, format: date-time }
        hospital_id: { type: integer, example: 1 }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    PaginatedLotes:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Lote'
        current_page: { type: integer }
        last_page: { type: integer }
        per_page: { type: integer }
        total: { type: integer }
    PaginatedLoteAlmacenes:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/LoteAlmacen'
        current_page: { type: integer }
        last_page: { type: integer }
        per_page: { type: integer }
        total: { type: integer }
    TipoHospitalDistribucion:
      type: object
      description: Porcentaje de distribución por tipo de hospital.
      properties:
        id: { type: integer, example: 1 }
        tipo: { type: string, example: "Tipo 1" }
        porcentaje: { type: number, format: float, example: 0.11, description: Porcentaje en % }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    PaginatedTipoHospitalDistribuciones:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TipoHospitalDistribucion'
        current_page: { type: integer }
        last_page: { type: integer }
        per_page: { type: integer }
        total: { type: integer }
    MovimientoStock:
      type: object
      properties:
        id: { type: integer }
        tipo: { type: string, enum: [entrada, salida, transferencia] }
        lote_id: { type: integer }
        hospital_id: { type: integer }
        origen_almacen_tipo: { type: string, nullable: true }
        origen_almacen_id: { type: integer, nullable: true }
        destino_almacen_tipo: { type: string, nullable: true }
        destino_almacen_id: { type: integer, nullable: true }
        cantidad: { type: integer }
        user_id: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    SolicitudFaltante:
      type: object
      properties:
        id: { type: integer }
        hospital_id: { type: integer }
        almacen_tipo: { type: string }
        almacen_id: { type: integer }
        insumo_id: { type: integer }
        cantidad_sugerida: { type: integer, nullable: true }
        prioridad: { type: string, enum: [baja, media, alta] }
        estado: { type: string, enum: [pendiente, atendida, cancelada] }
        user_id: { type: integer }
        comentario: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    PaginatedSolicitudesFaltantes:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SolicitudFaltante'
        current_page: { type: integer }
        last_page: { type: integer }
        per_page: { type: integer }
        total: { type: integer }
    DistribucionCentralRequest:
      type: object
      required: [origen_central_id, hospital_id, principal_id, items]
      properties:
        origen_central_id: { type: integer }
        hospital_id: { type: integer }
        principal_id: { type: integer }
        items:
          type: array
          items:
            type: object
            required: [lote_id, cantidad]
            properties:
              lote_id: { type: integer }
              cantidad: { type: integer, minimum: 1 }
    DistribucionInternaRequest:
      type: object
      required: [hospital_id, principal_id, items]
      properties:
        hospital_id: { type: integer }
        principal_id: { type: integer }
        items:
          type: array
          items:
            type: object
            required: [lote_id, destino_tipo, destino_id, cantidad]
            properties:
              lote_id: { type: integer }
              destino_tipo: { type: string }
              destino_id: { type: integer }
              cantidad: { type: integer, minimum: 1 }
security:
  - bearerAuth: []
paths:
  /api/users:
    post:
      summary: Crear usuario
      description: |
        Crea un usuario. La mayoría de los campos son opcionales.
        La contraseña es obligatoria y debe cumplir complejidad: mínimo 8 caracteres, incluir mayúscula, minúscula, número y símbolo.
      tags: [Usuarios]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                tipo: { type: string, nullable: true }
                rol: { type: string, nullable: true }
                nombre: { type: string, nullable: true }
                apellido: { type: string, nullable: true }
                genero: { type: string, nullable: true }
                cedula: { type: string, nullable: true }
                telefono: { type: string, nullable: true }
                direccion: { type: string, nullable: true }
                hospital_id: { type: integer, nullable: true }
                sede_id: { type: integer, nullable: true }
                can_view: { type: boolean, nullable: true }
                can_create: { type: boolean, nullable: true }
                can_update: { type: boolean, nullable: true }
                can_delete: { type: boolean, nullable: true }
                is_root: { type: boolean, nullable: true, description: "Solo usuarios root pueden modificar este campo." }
                email: { type: string, format: email, nullable: true }
                password: { type: string, minLength: 8, description: "Obligatoria. Debe tener al menos 8 caracteres, incluir mayúscula, minúscula, número y símbolo." }
                status: { type: string, enum: [activo, inactivo], nullable: true }
            example:
              tipo: natural
              rol: admin
              nombre: "Ana"
              apellido: "García"
              genero: femenino
              cedula: "V-12345678"
              telefono: "4140000000"
              direccion: "Caracas"
              hospital_id: 2
              sede_id: 5
              can_view: true
              can_create: true
              can_update: true
              can_delete: true
              email: "ana@example.com"
              password: "unPasswordSeguro"
              status: activo
            examples:
              completo:
                summary: Todos los campos soportados (password obligatorio)
                value:
                  tipo: natural
                  rol: admin
                  nombre: "Ana"
                  apellido: "García"
                  genero: femenino
                  cedula: "V-12345678"
                  telefono: "4140000000"
                  direccion: "Caracas"
                  hospital_id: 2
                  sede_id: 5
                  can_view: true
                  can_create: true
                  can_update: true
                  can_delete: true
                  email: "ana@example.com"
                  password: "Un4Segura!"
                  status: activo
      responses:
        '200':
          description: Usuario creado o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
    get:
      summary: Listar usuarios
      description: |
        - Los usuarios con rol root (is_root=true) solo son visibles para usuarios autenticados root.
        - Los usuarios no-root no verán cuentas root en los listados ni podrán consultarlas por email, cédula o id.
        - Solo un usuario root puede ver/actualizar/eliminar a usuarios root.
      tags: [Usuarios]
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          description: "Filtrar por estado: activo, inactivo o todos. Por defecto activo."
          schema:
            type: string
            enum: [activo, inactivo, todos]
            default: activo
      responses:
        '200':
          description: Listado paginado de usuarios o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedUsers'
  /api/insumos:
    get:
      summary: Listar insumos
      tags: [Insumos]
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          description: "Filtrar por estado: activo, inactivo o todos. Por defecto activo."
          schema:
            type: string
            enum: [activo, inactivo, todos]
            default: activo
      responses:
        '200':
          description: Listado de insumos (paginado)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedInsumos'
  /api/distribucion/central:
    post:
      summary: Distribuir desde almacén central hacia principal del hospital
      tags: [Distribucion]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistribucionCentralRequest'
      responses:
        '200':
          description: Distribución aplicada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
  /api/distribucion/principal:
    post:
      summary: Distribución interna desde principal a otros almacenes del hospital
      tags: [Distribucion]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistribucionInternaRequest'
      responses:
        '200':
          description: Distribución interna aplicada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
  /api/solicitudes_faltantes:
    get:
      summary: Listar solicitudes de faltantes
      tags: [SolicitudesFaltantes]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Listado paginado de solicitudes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedSolicitudesFaltantes'
    post:
      summary: Crear solicitud de faltante
      tags: [SolicitudesFaltantes]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [hospital_id, almacen_tipo, almacen_id, insumo_id]
              properties:
                hospital_id: { type: integer }
                almacen_tipo: { type: string }
                almacen_id: { type: integer }
                insumo_id: { type: integer }
                cantidad_sugerida: { type: integer, nullable: true }
                prioridad: { type: string, enum: [baja, media, alta] }
                comentario: { type: string, nullable: true }
      responses:
        '200':
          description: Solicitud creada
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SolicitudFaltante'
  /api/solicitudes_faltantes/{solicitud}:
    patch:
      summary: Actualizar estado de solicitud de faltante
      tags: [SolicitudesFaltantes]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: solicitud
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [estado]
              properties:
                estado: { type: string, enum: [pendiente, atendida, cancelada] }
                comentario: { type: string, nullable: true }
      responses:
        '200':
          description: Solicitud actualizada
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SolicitudFaltante'
  /api/tipos_hospital_distribuciones:
    get:
      summary: Listar distribución de tipos de hospitales
      tags: [TiposHospitalDistribucion]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Listado paginado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedTipoHospitalDistribuciones'
    post:
      summary: Crear distribución de tipo de hospital
      tags: [TiposHospitalDistribucion]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tipo, porcentaje]
              properties:
                tipo: { type: string, maxLength: 100 }
                porcentaje: { type: number, format: float, minimum: 0, maximum: 100 }
      responses:
        '200':
          description: Distribución creada
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TipoHospitalDistribucion'
  /api/tipos_hospital_distribuciones/{tipos_hospital_distribucione}:
    get:
      summary: Ver detalle de distribución
      tags: [TiposHospitalDistribucion]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: tipos_hospital_distribucione
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Detalle de distribución
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TipoHospitalDistribucion'
    put:
      summary: Actualizar distribución
      tags: [TiposHospitalDistribucion]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: tipos_hospital_distribucione
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tipo: { type: string, maxLength: 100 }
                porcentaje: { type: number, format: float, minimum: 0, maximum: 100 }
      responses:
        '200':
          description: Distribución actualizada
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TipoHospitalDistribucion'
    delete:
      summary: Eliminar distribución
      tags: [TiposHospitalDistribucion]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: tipos_hospital_distribucione
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Distribución eliminada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
  /api/insumos/sede/{sede_id}:
    get:
      summary: Listar insumos por sede
      tags: [Insumos]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: sede_id
          required: true
          schema: { type: integer }
        - name: status
          in: query
          required: false
          description: "Filtrar por estado: activo, inactivo o todos. Por defecto activo."
          schema:
            type: string
            enum: [activo, inactivo, todos]
            default: activo
      responses:
        '200':
          description: Listado de insumos por sede (paginado)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedInsumos'
  /api/sedes/hospital/{id}:
    get:
      summary: Listar sedes por hospital
      tags: [Sedes]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
        - in: query
          name: status
          required: false
          description: "Filtrar por estado: activo, inactivo o todos. Por defecto activo."
          schema:
            type: string
            enum: [activo, inactivo, todos]
            default: activo
      responses:
        '200':
          description: Listado de sedes del hospital (paginado) o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedSedes'
    post:
      summary: Crear insumo
      tags: [Insumos]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [codigo, nombre, tipo, unidad_medida, cantidad_por_paquete]
              properties:
                codigo: { type: string }
                nombre: { type: string }
                tipo: { type: string }
                unidad_medida: { type: string }
                cantidad_por_paquete: { type: integer, minimum: 0 }
                descripcion: { type: string, nullable: true }
                presentacion: { type: string, nullable: true }
                status: { type: string, enum: [activo, inactivo] }
      responses:
        '200':
          description: Insumo creado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Insumo'
  /api/insumos/import:
    post:
      summary: Importar insumos desde archivo Excel
      description: |
        Importa insumos desde un archivo Excel.
        - Reutilizar el mismo archivo es seguro: los registros existentes se **actualizan** (prioridad por `codigo` de la columna A; si no coincide, intenta por `codigo_alterno` generado), y los que no existan se **crean**.
        - Definiciones:
          - "creados": cantidad de filas que resultaron en un nuevo insumo.
          - "actualizados": cantidad de filas que coincidieron con un insumo existente y se actualizaron.
          - "omitidos": filas saltadas por validación (por ejemplo, descripción vacía) o errores de procesamiento.
      tags: [Insumos]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: |
                    Archivo Excel (.xlsx) con los insumos a importar.
                    - Columna A: código (principal)
                    - Columna B: descripción (obligatoria)
      responses:
        '200':
          description: Resultado de la importación
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          creados: { type: integer, description: 'Número de insumos creados' }
                          actualizados: { type: integer, description: 'Número de insumos actualizados' }
                          omitidos: { type: integer, description: 'Número de insumos omitidos' }
                          omitidos_detalle: 
                            type: array
                            items:
                              type: object
                              properties:
                                fila: { type: integer, description: 'Número de fila en el archivo' }
                                motivo: { type: string, description: 'Razón de la omisión' }
              example:
                status: true
                mensaje: Importación procesada.
                data:
                  creados: 12
                  actualizados: 3
                  omitidos: 2
                  omitidos_detalle:
                    - fila: 7
                      motivo: "Celda de descripción vacía o con solo espacios"
                    - fila: 15
                      motivo: "Error al procesar: El código de insumo ya ha sido registrado previamente."
  /api/insumos:
    post:
      summary: Importar insumos desde Excel (.xlsx)
      tags: [Insumos]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Archivo Excel .xlsx con una columna DESCRIPCION
      responses:
        '200':
          description: Resultado de importación
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          creados: { type: integer }
                          actualizados: { type: integer }
                          omitidos: { type: integer }
                          errores:
                            type: array
                            items:
                              type: object
                              properties:
                                row: { type: integer }
                                descripcion: { type: string }
                                error: { type: string }
  /api/insumos/codigo/{codigo}:
    get:
      summary: Ver insumo por código
      tags: [Insumos]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Detalle de insumo por código
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Insumo'
    put:
      summary: Actualizar insumo por código
      tags: [Insumos]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: codigo
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nombre: { type: string }
                tipo: { type: string }
                unidad_medida: { type: string }
                cantidad_por_paquete: { type: integer, minimum: 0 }
                descripcion: { type: string, nullable: true }
                presentacion: { type: string, nullable: true }
                status: { type: string, enum: [activo, inactivo] }
      responses:
        '200':
          description: Insumo actualizado por código
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Insumo'
  /api/insumos/{id}:
    get:
      summary: Ver detalle de insumo
      tags: [Insumos]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Detalle de insumo
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Insumo'
    put:
      summary: Actualizar insumo
      tags: [Insumos]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                codigo: { type: string }
                nombre: { type: string }
                tipo: { type: string }
                unidad_medida: { type: string }
                cantidad_por_paquete: { type: integer, minimum: 0 }
                descripcion: { type: string, nullable: true }
                presentacion: { type: string, nullable: true }
                status: { type: string, enum: [activo, inactivo] }
      responses:
        '200':
          description: Insumo actualizado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Insumo'
    delete:
      summary: Eliminar insumo
      tags: [Insumos]
      security:
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Insumo eliminado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
  /api/lotes:
    get:
      summary: Listar lotes
      tags: [Lotes]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: id_insumo
          required: false
          schema: { type: integer }
        - in: query
          name: hospital_id
          required: false
          schema: { type: integer }
        - in: query
          name: numero_lote
          required: false
          schema: { type: string }
        - in: query
          name: vence_desde
          required: false
          schema: { type: string, format: date }
        - in: query
          name: vence_hasta
          required: false
          schema: { type: string, format: date }
      responses:
        '200':
          description: Listado de lotes (paginado)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedLotes'
    post:
      summary: Crear lote
      tags: [Lotes]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_insumo, numero_lote, fecha_vencimiento, fecha_ingreso, hospital_id]
              properties:
                id_insumo: { type: integer }
                numero_lote: { type: string, maxLength: 100 }
                fecha_vencimiento: { type: string, format: date }
                fecha_ingreso: { type: string, format: date }
                hospital_id: { type: integer }
      responses:
        '200':
          description: Lote creado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Lote'
  /api/lotes/{lote}:
    get:
      summary: Ver detalle de lote
      tags: [Lotes]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: lote
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Detalle de lote
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Lote'
    put:
      summary: Actualizar lote
      tags: [Lotes]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: lote
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id_insumo: { type: integer }
                numero_lote: { type: string, maxLength: 100 }
                fecha_vencimiento: { type: string, format: date }
                fecha_ingreso: { type: string, format: date }
                hospital_id: { type: integer }
      responses:
        '200':
          description: Lote actualizado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Lote'
    delete:
      summary: Eliminar lote
      tags: [Lotes]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: lote
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Lote eliminado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
  /api/lotes/{lote}/almacenes:
    get:
      summary: Listar stock por almacén de un lote
      tags: [Lotes]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: lote
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Listado paginado de stock por almacén
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedLoteAlmacenes'
    post:
      summary: Crear/actualizar stock por almacén de un lote
      tags: [Lotes]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: lote
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [almacen_tipo, almacen_id, cantidad, hospital_id]
              properties:
                almacen_tipo: { type: string, maxLength: 100, example: "farmacia" }
                almacen_id: { type: integer }
                cantidad: { type: integer, minimum: 0 }
                hospital_id: { type: integer }
      responses:
        '200':
          description: Stock creado/actualizado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LoteAlmacen'
  /api/lotes/{lote}/almacenes/{almacen_id}:
    delete:
      summary: Eliminar stock por almacén de un lote
      tags: [Lotes]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: lote
          required: true
          schema: { type: integer }
        - in: path
          name: almacen_id
          required: true
          schema: { type: integer }
        - in: query
          name: almacen_tipo
          required: false
          schema: { type: string }
          description: Si se especifica, elimina solo el stock de ese tipo; si no, elimina todos los tipos para ese almacen_id.
      responses:
        '200':
          description: Stock eliminado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
  /api/almacenes_farmacia:
    get:
      summary: Listar almacenes farmacia
      tags: [AlmacenesFarmacia]
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          description: "Filtrar por estado: activo, inactivo o todos. Por defecto activo."
          schema:
            type: string
            enum: [activo, inactivo, todos]
            default: activo
      responses:
        '200':
          description: Listado paginado o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedAlmacenesFarmacia'
    post:
      summary: Crear almacén farmacia
      tags: [AlmacenesFarmacia]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlmacenFarmaciaSchema'
      responses:
        '200':
          description: Creado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /api/almacenes_farmacia/{id}:
    get:
      summary: Ver detalle de almacén farmacia
      tags: [AlmacenesFarmacia]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Detalle o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AlmacenFarmaciaSchema'
    put:
      summary: Actualizar almacén farmacia
      tags: [AlmacenesFarmacia]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlmacenFarmaciaSchema'
      responses:
        '200':
          description: Actualizado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
    delete:
      summary: Eliminar almacén farmacia
      tags: [AlmacenesFarmacia]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Eliminado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /api/almacenes_paralelo:
    get:
      summary: Listar almacenes paralelo
      tags: [AlmacenesParalelo]
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          description: "Filtrar por estado: activo, inactivo o todos. Por defecto activo."
          schema:
            type: string
            enum: [activo, inactivo, todos]
            default: activo
      responses:
        '200':
          description: Listado paginado o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedAlmacenesParalelo'
    post:
      summary: Crear almacén paralelo
      tags: [AlmacenesParalelo]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlmacenParaleloSchema'
      responses:
        '200':
          description: Creado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /api/almacenes_paralelo/{id}:
    get:
      summary: Ver detalle de almacén paralelo
      tags: [AlmacenesParalelo]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Detalle o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AlmacenParaleloSchema'
    put:
      summary: Actualizar almacén paralelo
      tags: [AlmacenesParalelo]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlmacenParaleloSchema'
      responses:
        '200':
          description: Actualizado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
    delete:
      summary: Eliminar almacén paralelo
      tags: [AlmacenesParalelo]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Eliminado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /api/almacenes_servicios_atenciones:
    get:
      summary: Listar almacenes servicios de atenciones
      tags: [AlmacenesServiciosAtenciones]
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          description: "Filtrar por estado: activo, inactivo o todos. Por defecto activo."
          schema:
            type: string
            enum: [activo, inactivo, todos]
            default: activo
      responses:
        '200':
          description: Listado paginado o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedAlmacenesServiciosAtenciones'
    post:
      summary: Crear almacén servicios de atenciones
      tags: [AlmacenesServiciosAtenciones]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlmacenServiciosAtencionesSchema'
      responses:
        '200':
          description: Creado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /api/almacenes_servicios_atenciones/{id}:
    get:
      summary: Ver detalle de almacén servicios de atenciones
      tags: [AlmacenesServiciosAtenciones]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Detalle o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AlmacenServiciosAtencionesSchema'
    put:
      summary: Actualizar almacén servicios de atenciones
      tags: [AlmacenesServiciosAtenciones]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlmacenServiciosAtencionesSchema'
      responses:
        '200':
          description: Actualizado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
    delete:
      summary: Eliminar almacén servicios de atenciones
      tags: [AlmacenesServiciosAtenciones]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Eliminado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /api/almacenes_servicios_apoyo:
    get:
      summary: Listar almacenes servicios de apoyo
      tags: [AlmacenesServiciosApoyo]
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          description: "Filtrar por estado: activo, inactivo o todos. Por defecto activo."
          schema:
            type: string
            enum: [activo, inactivo, todos]
            default: activo
      responses:
        '200':
          description: Listado paginado o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedAlmacenesServiciosApoyo'
    post:
      summary: Crear almacén servicios de apoyo
      tags: [AlmacenesServiciosApoyo]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlmacenServiciosApoyoSchema'
      responses:
        '200':
          description: Creado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /api/almacenes_servicios_apoyo/{id}:
    get:
      summary: Ver detalle de almacén servicios de apoyo
      tags: [AlmacenesServiciosApoyo]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Detalle o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AlmacenServiciosApoyoSchema'
    put:
      summary: Actualizar almacén servicios de apoyo
      tags: [AlmacenesServiciosApoyo]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlmacenServiciosApoyoSchema'
      responses:
        '200':
          description: Actualizado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
    delete:
      summary: Eliminar almacén servicios de apoyo
      tags: [AlmacenesServiciosApoyo]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Eliminado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /api/users/email/{email}:
    get:
      summary: Ver usuario por email
      tags: [Usuarios]
      security:
        - bearerAuth: []
      parameters:
        - name: email
          in: path
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: Resultado por email o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
    put:
      summary: Actualizar usuario por email
      tags: [Usuarios]
      security:
        - bearerAuth: []
      parameters:
        - name: email
          in: path
          required: true
          schema:
            type: string
            format: email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Actualizado por email o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
  /api/users/email/{email}/password:
    put:
      summary: Cambiar contraseña por email
      tags: [Usuarios]
      security:
        - bearerAuth: []
      parameters:
        - name: email
          in: path
          required: true
          schema:
            type: string
            format: email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Contraseña actualizada por email o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'

  /api/users/cedula/{cedula}:
    get:
      summary: Ver usuario por cédula
      tags: [Usuarios]
      security:
        - bearerAuth: []
      parameters:
        - name: cedula
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resultado por cédula o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
    put:
      summary: Actualizar usuario por cédula
      tags: [Usuarios]
      security:
        - bearerAuth: []
      parameters:
        - name: cedula
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Actualizado por cédula o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
  /api/users/cedula/{cedula}/password:
    put:
      summary: Cambiar contraseña por cédula
      tags: [Usuarios]
      security:
        - bearerAuth: []
      parameters:
        - name: cedula
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Contraseña actualizada por cédula o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
  /api/login:
    post:
      summary: Login y emisión de token
      tags: [Autenticación]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              admin:
                summary: Administrador
                value:
                  email: admin@example.com
                  password: password
              cliente:
                summary: Cliente
                value:
                  email: doctor@example.com
                  password: password
      responses:
        '200':
          description: Login exitoso o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LoginResponseData'
              examples:
                admin:
                  summary: Admin
                  value:
                    status: true
                    mensaje: Login exitoso
                    data: { token: "1|token" }

  /api/users/password/forgot:
    post:
      summary: Solicitar restablecimiento de contraseña (genera token)
      tags: [Autenticación]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - type: object
                  required: [email]
                  properties:
                    email:
                      type: string
                      format: email
                - type: object
                  required: [cedula]
                  properties:
                    cedula:
                      type: string
      responses:
        '200':
          description: Token generado o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          token: { type: string }
                          user_id: { type: integer }
                          email: { type: string, nullable: true }
                          cedula: { type: string, nullable: true }

  /api/users/password/reset:
    post:
      summary: Restablecer contraseña con token
      tags: [Autenticación]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token: { type: string }
                password: { type: string, minLength: 8 }
      responses:
        '200':
          description: Contraseña restablecida o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
              examples:
                cliente:
                  summary: Respuesta exitosa (cliente)
                  value:
                    status: true
                    mensaje: Login exitoso.
                    data:
                      token: "<TOKEN>"
                      user:
                        id: 2
                        email: doctor@example.com
                        nombre: Doctor
                        apellido: Ejemplo
  /api/logout:
    post:
      summary: Cerrar sesión (revocar token)
      tags: [Autenticación]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Sesión cerrada o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
  /api/hospitales/rif/{rif}:
    get:
      summary: Ver hospital por RIF
      tags: [Hospitales]
      security:
        - bearerAuth: []
      parameters:
        - name: rif
          in: path
          required: true
          schema:
            type: string
          example: J-12345678-9
      responses:
        '200':
          description: Detalle por RIF o no encontrado con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Hospital'
    put:
      summary: Actualizar hospital por RIF
      tags: [Hospitales]
      security:
        - bearerAuth: []
      parameters:
        - name: rif
          in: path
          required: true
          schema:
            type: string
          example: J-12345678-9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hospital'
      responses:
        '200':
          description: Hospital actualizado por RIF o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /api/almacenes_principales:
    get:
      summary: Listar almacenes principales
      tags: [AlmacenesPrincipales]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Listado o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedAlmacenesPrincipales'
    post:
      summary: Crear almacén principal
      tags: [AlmacenesPrincipales]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlmacenPrincipalSchema'
      responses:
        '200':
          description: Creado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
  /api/almacenes_principales/{id}:
    get:
      summary: Ver detalle de almacén principal
      tags: [AlmacenesPrincipales]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Detalle o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AlmacenPrincipalSchema'
    put:
      summary: Actualizar almacén principal
      tags: [AlmacenesPrincipales]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlmacenPrincipalSchema'
      responses:
        '200':
          description: Actualizado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
    delete:
      summary: Eliminar almacén principal
      tags: [AlmacenesPrincipales]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Eliminado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /api/almacenes_centrales:
    get:
      summary: Listar almacenes centrales
      tags: [AlmacenesCentrales]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Listado o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedAlmacenesCentrales'
    post:
      summary: Crear almacén central
      tags: [AlmacenesCentrales]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlmacenCentralSchema'
      responses:
        '200':
          description: Creado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
  /api/almacenes_centrales/{id}:
    get:
      summary: Ver detalle de almacén central
      tags: [AlmacenesCentrales]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Detalle o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AlmacenCentralSchema'
    put:
      summary: Actualizar almacén central
      tags: [AlmacenesCentrales]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlmacenCentralSchema'
      responses:
        '200':
          description: Actualizado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
    delete:
      summary: Eliminar almacén central
      tags: [AlmacenesCentrales]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Eliminado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /api/sedes:
    get:
      summary: Listar sedes
      tags: [Sedes]
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          description: "Filtrar por estado: activo, inactivo o todos. Por defecto activo."
          schema:
            type: string
            enum: [activo, inactivo, todos]
            default: activo
      responses:
        '200':
          description: Listado de sedes o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedSedes'
    post:
      summary: Crear sede
      tags: [Sedes]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nombre, tipo_almacen]
              properties:
                nombre: { type: string }
                tipo_almacen: { type: string }
                hospital_id: { type: integer, nullable: true }
                status: { type: string, enum: [activo, inactivo], nullable: true }
      responses:
        '200':
          description: Sede creada o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
              examples:
                creado:
                  summary: Respuesta al crear sede (incluye hospital relacionado)
                  value:
                    status: true
                    mensaje: Sede creada.
                    data:
                      id: 1
                      nombre: Almacén Principal
                      tipo_almacen: almacen_principal
                      hospital_id: 2
                      hospital:
                        id: 2
                        nombre: Hospital Central
                        rif: J-12345678-9
                        email: contacto@hospital.test
                        telefono: "4141234567"
                        ubicacion:
                          lat: 10.491
                          lng: -66.903
                        direccion: Caracas
                        tipo: publico
                        created_at: "2025-09-04T19:10:00.000Z"
                        updated_at: "2025-09-04T19:10:00.000Z"
                        status: activo
                      created_at: "2025-09-04T19:10:00.000Z"
                      updated_at: "2025-09-04T19:10:00.000Z"
                      status: activo
  /api/sedes/{id}:
    get:
      summary: Ver detalle de sede
      tags: [Sedes]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Detalle de sede o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Sede'
    put:
      summary: Actualizar sede
      tags: [Sedes]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nombre: { type: string }
                tipo_almacen: { type: string }
                hospital_id: { type: integer, nullable: true }
                status: { type: string, enum: [activo, inactivo], nullable: true }
      responses:
        '200':
          description: Sede actualizada o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
              examples:
                actualizado:
                  summary: Respuesta al actualizar sede (incluye hospital relacionado)
                  value:
                    status: true
                    mensaje: Sede actualizada.
                    data:
                      id: 1
                      nombre: Almacén Principal
                      tipo: almacen_principal
                      hospital_id: 2
                      hospital:
                        id: 2
                        nombre: Hospital Central
                        rif: J-12345678-9
                        email: contacto@hospital.test
                        telefono: "4141234567"
                        ubicacion:
                          lat: 10.491
                          lng: -66.903
                        direccion: Caracas
                        tipo: publico
                        created_at: "2025-09-04T19:10:00.000Z"
                        updated_at: "2025-09-04T19:10:00.000Z"
                        status: activo
                      created_at: "2025-09-04T19:10:00.000Z"
                      updated_at: "2025-09-04T19:10:00.000Z"
                      status: activo
    delete:
      summary: Eliminar sede
      tags: [Sedes]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Sede eliminada o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
  /api/me:
    get:
      summary: Información del usuario autenticado
      tags: [Autenticación]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
  
  /api/users/{id}:
    get:
      summary: Ver detalle de usuario
      tags: [Usuarios]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Detalle o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
    put:
      summary: Actualizar usuario
      tags: [Usuarios]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Actualizado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
    delete:
      summary: Eliminar usuario
      tags: [Usuarios]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Eliminado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /api/hospitales:
    get:
      summary: Listar hospitales
      tags: [Hospitales]
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          description: "Filtrar por estado: activo, inactivo o todos. Por defecto activo."
          schema:
            type: string
            enum: [activo, inactivo, todos]
            default: activo
      responses:
        '200':
          description: Listado de hospitales o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedHospitals'
    post:
      summary: Crear hospital
      tags: [Hospitales]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hospital'
      responses:
        '200':
          description: Hospital creado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
  /api/hospitales/buscar_por_rif:
    get:
      summary: Buscar hospital por RIF
      tags: [Hospitales]
      security:
        - bearerAuth: []
      parameters:
        - name: rif
          in: query
          required: true
          schema:
            type: string
          example: J-12345678-9
      responses:
        '200':
          description: Resultado de búsqueda por RIF o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Hospital'
  /api/hospitales/{id}:
    get:
      summary: Ver detalle de hospital
      tags: [Hospitales]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Detalle de hospital o error con `status=false`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Hospital'
    put:
      summary: Actualizar hospital
      tags: [Hospitales]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hospital'
      responses:
        '200':
          description: Hospital actualizado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
    delete:
      summary: Eliminar hospital
      tags: [Hospitales]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Hospital eliminado o error con `status=false`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
