openapi: 3.0.3
info:
  title: API de Fichas de Insumos y Hospitales
  description: |
    API para gestionar fichas de insumos por hospital y la importación de hospitales desde Excel.
    
    ## Funcionalidades principales:
    - **Importación de hospitales** desde archivos Excel (.xlsx)
    - **Generación automática de fichas de insumos** para hospitales
    - **Sincronización** de nuevos insumos en todos los hospitales
    - **CRUD completo** de fichas de insumos
    
  version: 1.0.0
  contact:
    name: Soporte API
    email: soporte@hospital.com

servers:
  - url: https://almacen.alwaysdata.net/api
    description: Servidor de producción
  - url: http://localhost:8000/api
    description: Servidor de desarrollo local

tags:
  - name: Hospitales
    description: Gestión de hospitales e importación desde Excel
  - name: Fichas de Insumos
    description: Gestión de fichas de insumos por hospital

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Token de autenticación Bearer (Sanctum)

  schemas:
    Hospital:
      type: object
      properties:
        id:
          type: integer
          example: 1
        nombre:
          type: string
          example: "Hospital Central"
        nombre_completo:
          type: string
          example: "Hospital Central Dr. José María Vargas"
        rif:
          type: string
          nullable: true
          example: "J-12345678-9"
        cod_sicm:
          type: string
          nullable: true
          example: "SICM-001"
        codigo_alt:
          type: string
          example: "HOSP-0001"
          description: "Código alternativo generado automáticamente"
        email:
          type: string
          format: email
          nullable: true
          example: "contacto@hospitalcentral.com"
        email_contacto:
          type: string
          format: email
          nullable: true
        telefono:
          type: string
          nullable: true
          example: "0212-1234567"
        nombre_contacto:
          type: string
          nullable: true
        ubicacion:
          type: object
          nullable: true
          properties:
            lat:
              type: string
              example: "10.5"
            lng:
              type: string
              example: "-66.9"
        direccion:
          type: string
          nullable: true
        dependencia:
          type: string
          nullable: true
          example: "MPPS"
        estado:
          type: string
          nullable: true
          example: "Distrito Capital"
        municipio:
          type: string
          nullable: true
        parroquia:
          type: string
          nullable: true
        tipo:
          type: string
          example: "III"
        status:
          type: string
          enum: [activo, inactivo]
          example: "activo"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    FichaInsumo:
      type: object
      properties:
        id:
          type: integer
          example: 1
        hospital_id:
          type: integer
          example: 5
        insumo_id:
          type: integer
          example: 123
        cantidad:
          type: integer
          example: 0
          description: "Cantidad del insumo en el hospital"
        status:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ApiResponse:
      type: object
      properties:
        status:
          type: boolean
          example: true
        mensaje:
          type: string
          example: "Operación exitosa"
        data:
          type: object
          nullable: true

    ImportResponse:
      type: object
      properties:
        status:
          type: boolean
          example: true
        mensaje:
          type: string
          example: "Importación completada."
        data:
          type: object
          properties:
            creados:
              type: integer
              example: 214
            actualizados:
              type: integer
              example: 75
            omitidos:
              type: integer
              example: 2
            errores:
              type: integer
              example: 0
            detalles_omitidos:
              type: array
              items:
                type: object
                properties:
                  fila:
                    type: integer
                  motivo:
                    type: string
            detalles_errores:
              type: array
              items:
                type: object
                properties:
                  fila:
                    type: integer
                  error:
                    type: string

    GenerarFichasResponse:
      type: object
      properties:
        status:
          type: boolean
          example: true
        mensaje:
          type: string
          example: "Fichas de insumos generadas para el hospital."
        data:
          type: object
          properties:
            hospital_id:
              type: integer
              example: 5
            hospital_nombre:
              type: string
              example: "Hospital Central"
            total_insumos:
              type: integer
              example: 412
            fichas_creadas:
              type: integer
              example: 412
            fichas_existentes:
              type: integer
              example: 0

security:
  - bearerAuth: []

paths:
  /hospitales/import:
    post:
      tags:
        - Hospitales
      summary: Importar hospitales desde Excel
      description: |
        Importa hospitales desde un archivo Excel (.xlsx).
        
        **Formato del archivo Excel:**
        - Columna A: RIF (puede ser NULL o '?')
        - Columna B: COD_SICM (puede ser NULL o '?')
        - Columna C: Nombre (requerido)
        - Columna D: Tipo
        - Columna E: Dependencia
        - Columna F: Estado
        - Columna G: Municipio
        - Columna H: Parroquia
        - Columna I: Email
        - Columna J: Nombre Contacto
        - Columna K: Email Contacto
        - Columna L: Teléfono (máx 50 caracteres)
        - Columna M: Dirección
        - Columna N: Latitud
        - Columna O: Longitud
        
        **Manejo de errores:**
        - RIF NULL: Permitido
        - Emails duplicados: Se establece como NULL
        - Teléfonos largos: Se truncan a 50 caracteres
        - Coordenadas inválidas: Se validan y limpian
        
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: "Archivo Excel (.xlsx) con los datos de hospitales"
      
      responses:
        '200':
          description: Importación completada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportResponse'
              examples:
                exitoso:
                  value:
                    status: true
                    mensaje: "Importación completada."
                    data:
                      creados: 214
                      actualizados: 75
                      omitidos: 2
                      errores: 0
                      detalles_omitidos:
                        - fila: 3
                          motivo: "Nombre vacío"
                      detalles_errores: []
        
        '400':
          description: Error en el archivo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                status: false
                mensaje: "El archivo debe ser un Excel válido (.xlsx)"
                data: null

  /ficha-insumos/generar/{hospital_id}:
    post:
      tags:
        - Fichas de Insumos
      summary: Generar fichas de insumos para un hospital específico
      description: |
        Genera automáticamente fichas de todos los insumos activos para un hospital específico.
        Cada ficha se crea con cantidad = 0.
        
        **Casos de uso:**
        - Nuevo hospital registrado
        - Hospital sin fichas de insumos
        - Actualización masiva de fichas
        
      parameters:
        - name: hospital_id
          in: path
          required: true
          schema:
            type: integer
          description: ID del hospital
          example: 5
      
      responses:
        '200':
          description: Fichas generadas exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerarFichasResponse'
              example:
                status: true
                mensaje: "Fichas de insumos generadas para el hospital."
                data:
                  hospital_id: 5
                  hospital_nombre: "Hospital Central"
                  total_insumos: 412
                  fichas_creadas: 412
                  fichas_existentes: 0
        
        '404':
          description: Hospital no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                status: false
                mensaje: "Hospital no encontrado."
                data: null

  /ficha-insumos/generar-todos:
    post:
      tags:
        - Fichas de Insumos
      summary: Generar fichas de insumos para TODOS los hospitales
      description: |
        Genera automáticamente fichas de todos los insumos activos para todos los hospitales activos.
        
        **Proceso:**
        1. Obtiene todos los hospitales con status = 'activo'
        2. Obtiene todos los insumos con status = true
        3. Crea fichas para cada combinación hospital-insumo que no exista
        
        **Advertencia:** Esta operación puede tardar varios minutos si hay muchos hospitales e insumos.
        
      responses:
        '200':
          description: Fichas generadas exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  mensaje:
                    type: string
                    example: "Fichas de insumos generadas para todos los hospitales."
                  data:
                    type: object
                    properties:
                      hospitales_procesados:
                        type: integer
                        example: 289
                      total_insumos:
                        type: integer
                        example: 412
                      fichas_creadas:
                        type: integer
                        example: 119068
                      fichas_existentes:
                        type: integer
                        example: 0
        
        '404':
          description: No hay hospitales o insumos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                status: false
                mensaje: "No hay hospitales activos en el sistema."
                data: null

  /ficha-insumos/sincronizar-insumo/{insumo_id}:
    post:
      tags:
        - Fichas de Insumos
      summary: Sincronizar un nuevo insumo en todos los hospitales
      description: |
        Cuando se registra un nuevo insumo, esta ruta crea automáticamente fichas
        para ese insumo en todos los hospitales activos.
        
        **Casos de uso:**
        - Nuevo insumo registrado
        - Insumo reactivado
        - Sincronización manual
        
      parameters:
        - name: insumo_id
          in: path
          required: true
          schema:
            type: integer
          description: ID del insumo
          example: 413
      
      responses:
        '200':
          description: Insumo sincronizado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  mensaje:
                    type: string
                    example: "Insumo sincronizado en todos los hospitales."
                  data:
                    type: object
                    properties:
                      insumo_id:
                        type: integer
                        example: 413
                      insumo_nombre:
                        type: string
                        example: "Paracetamol 500mg"
                      hospitales_procesados:
                        type: integer
                        example: 289
                      fichas_creadas:
                        type: integer
                        example: 289
                      fichas_existentes:
                        type: integer
                        example: 0
        
        '404':
          description: Insumo no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                status: false
                mensaje: "Insumo no encontrado."
                data: null

  /ficha-insumos:
    get:
      tags:
        - Fichas de Insumos
      summary: Listar fichas de insumos
      description: Obtiene un listado paginado de fichas de insumos con filtros opcionales
      
      parameters:
        - name: hospital_id
          in: query
          schema:
            type: integer
          description: Filtrar por hospital
          example: 5
        - name: insumo_id
          in: query
          schema:
            type: integer
          description: Filtrar por insumo
          example: 123
        - name: status
          in: query
          schema:
            type: boolean
          description: Filtrar por estado
          example: true
        - name: per_page
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Cantidad de resultados por página
      
      responses:
        '200':
          description: Listado de fichas
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  mensaje:
                    type: string
                    example: "Listado de fichas de insumos."
                  data:
                    type: object
                    properties:
                      current_page:
                        type: integer
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/FichaInsumo'
                      total:
                        type: integer

    post:
      tags:
        - Fichas de Insumos
      summary: Crear una ficha de insumo
      description: Crea una nueva ficha de insumo para un hospital
      
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hospital_id
                - insumo_id
              properties:
                hospital_id:
                  type: integer
                  example: 5
                insumo_id:
                  type: integer
                  example: 123
                cantidad:
                  type: integer
                  default: 0
                  example: 0
                status:
                  type: boolean
                  default: true
                  example: true
      
      responses:
        '201':
          description: Ficha creada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  mensaje:
                    type: string
                    example: "Ficha de insumo creada."
                  data:
                    $ref: '#/components/schemas/FichaInsumo'

  /ficha-insumos/{ficha_insumo}:
    get:
      tags:
        - Fichas de Insumos
      summary: Obtener detalle de una ficha
      parameters:
        - name: ficha_insumo
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Detalle de la ficha
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  mensaje:
                    type: string
                    example: "Detalle de la ficha de insumo."
                  data:
                    $ref: '#/components/schemas/FichaInsumo'

    put:
      tags:
        - Fichas de Insumos
      summary: Actualizar una ficha de insumo
      parameters:
        - name: ficha_insumo
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cantidad:
                  type: integer
                  example: 50
                status:
                  type: boolean
                  example: true
      responses:
        '200':
          description: Ficha actualizada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  mensaje:
                    type: string
                    example: "Ficha de insumo actualizada."
                  data:
                    $ref: '#/components/schemas/FichaInsumo'

    delete:
      tags:
        - Fichas de Insumos
      summary: Eliminar una ficha de insumo
      parameters:
        - name: ficha_insumo
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Ficha eliminada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  mensaje:
                    type: string
                    example: "Ficha de insumo eliminada."
                  data:
                    type: object
                    nullable: true
